@font-face {
    font-family: 'MADE Mirage';
    src: url('../ASSET/MADEMirage-Bold.woff2') format('woff2'),
        url('../ASSET/MADEMirage-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

body {
    margin: 0;
    font-family: 'MADE Mirage';
    height: auto;
    align-items: center;
}

p {
    margin: 0px;
}

header {
    display: flex;
    margin-top: 20px;
    margin-left: 40px;
    margin-right: 40px;
    background-color: #555962;
    height: 80px;
    align-items: center;
    color: white;
    justify-content: space-around;
    border-radius: 15px;
}

header img {
    width: 64px;
    margin: 8px;
}

header a {
    text-align: center;
    align-items: center;
    text-decoration: none;
    color: white;
    font-weight: bold;
}

header a:hover {
    text-decoration: none;
    color: rgb(59, 59, 255);
    font-weight: bold;
    font-size: 120%;
}

#recherche {
    color: white;
    width: auto;
    background-color: #26272C;
    height: 60px;
    border-radius: 16px;
    border: none;
    padding-left: 30px;
    font-size: 30px;
}

.Connexion {
    margin-left: 10%;
}

#param {
    padding-left: 15px;
    padding-right: 15px;
}

#param img {
    width: 40px;
}

@media screen and (max-width: 860px) {
    #recherche {
        width: 210px;
        font-size: 15px;
        height: 40px;
    }

    header {
        width: 80%;
        margin-left: auto;
        margin-right: auto;
        height: 50px;
    }

    header a,
    header input {
        padding-left: 10px;
        padding-right: 10px;
        width: 15%;
    }

    header a img {
        padding-left: 10px;
        padding-right: 10px;
        width: 64px;
    }
}

@media screen and (max-width: 660px) {
    #recherche {
        width: 210px;
        font-size: 15px;
        height: 40px;
    }

    header {
        width: 80%;
        margin-left: auto;
        margin-right: auto;
        height: 50px;
    }

    header a,
    header input {
        padding-left: 10px;
        padding-right: 10px;
        width: 15%;
    }

    header a img {
        padding-left: 10px;
        padding-right: 10px;
        width: 64px;
    }
}

#banniere,
#banniere img {
    margin-top: 20px;
    width: 1000px;
    margin-left: auto;
    margin-right: auto;
}


#carouselExampleAutoplaying {
    width: 1200px;
    border-radius: 20px;
    padding: 0;
    margin: 0;
    margin-top: 20px;
    margin-left: auto;
    margin-right: auto;
}

#carouselExampleAutoplaying,
img {
    border-radius: 20px;
}


body ul {
    display: flex;
    justify-content: space-around;
    margin-top: 20px;
    text-align: center;
    flex-direction: row;
    list-style-type: none;
    list-style: none;
    padding: 0;
    margin-left: 40px;
    margin-right: 40px;
}

body li {
    list-style-type: none;
    width: 300px;
    list-style: none;
    height: 65px;
}

ul a {
    display: block;
    color: white;
    list-style: none;
    background-color: #0A81FF;
    list-style-type: none;
    border-radius: 16px;
    width: 300px;
    height: 65px;
    font-size: 20px;
    padding-top: 17px;
    text-decoration: none;
}

ul :hover {
    background-color: #024A8D;
    border-radius: 16px;
}

#deco {
    background-color: white;
}

footer {
    display: flex;
    padding-left: 2%;
    padding-right: 2%;
    background-color: #024A8D;
    margin-top: 50px;
    padding-top: 2%;
    height: 250px;
    align-items: center;
    width: 100%;
    color: white;
    justify-content: space-around;
    font-size: 25px;
}

#Credit {
    width: 700px;
}

footer #Lien {
    display: block;
    align-items: center;
    padding-left: auto;
    padding-right: auto;
}

#Lien {
    display: flex;
    align-items: center;
    justify-content: space-around;
    font-size: 40px;
    width: 500px;
}

h2 {
    width: auto;
    font-size: 25px;
    padding-top: 2px;
    padding-bottom: 2px;
}

footer img {
    width: 64px;
    height: 64px;
    border-radius: 0px;
    margin-left: 15px;
    margin-right: 15px;
    padding-top: 2px;
}

@media screen and (max-width: 1250px) {
    #carouselExampleAutoplaying {
        width: 85%;
        border-radius: 20px;
        padding: 0;
        margin-top: 20px;
        margin-left: auto;
    }
}

@media screen and (max-width: 1050px) {

    ul a,
    body li,
    body ul {
        width: 80%;
        height: 80%;
        font-size: 100%;
        padding-top: 5px;
        padding-bottom: 5px;
        margin-left: auto;
        margin-right: auto;
    }

    footer {
        height: auto;
    }
}

@media screen and (max-width: 1040px) {

    #banniere,
    #banniere img {
        width: 90%;
        margin-right: 0;
    }
}