body {
    margin: 0;
    font-family: Arial, sans-serif;
    height: auto;
    align-items: center;
    background-color: #555962;
}
  
header {
    display: flex;
    margin-top: 20px;
    margin-left: 40px;
    margin-right: 40px;
    background-color: #555962;
    height: 80px;
    align-items: center;
    color: white;
    justify-content: space-between;
    border-radius: 15px;
}

  
header {
    display: flex;
    margin-top: 20px;
    margin-left: 40px;
    margin-right: 40px;
    background-color: #555962;
    height: 80px;
    align-items: center;
    color: white;
    justify-content: space-between;
    border-radius: 15px;
}

header img{
    width: 64px;
    margin: 8px;
}

header a{
    text-align: center;
    align-items: center;
    text-decoration: none;
    color: white;
    font-weight: bold;
    padding-left: 50px;
    padding-right: 50px;
}

header a:hover{
    text-decoration: none;
    color: #ff6f61;
    font-weight: bold;
    font-size: 120%;
}
  
h1 {
    text-align: center;
    margin-top: 2rem;
    font-size: 2rem;
    font-weight: bold;
}

#deco {
    background-color: #ff6f61;
    color: black;
    border: 2px black solid;
    cursor: pointer;
    margin-top: 20px;
    padding: 0.5rem 1rem;
    font-size: 1.2rem;
    font-weight: bold;
    border-radius: 5px;
    transition: background-color 0.3s ease;
    text-decoration:none;
}

form {
    width: 70%;
    margin: 0 auto;
    padding: 2.5rem;
    background-color: #fff;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    display: flex;
    flex-direction: column;
    align-items: center;
}
  
form div {
    margin-bottom: 1.5rem;
    width: 100%;
}
  
form label {
    display: block;
    margin-bottom: 0.5rem;
    font-size: 1.2rem;
    font-weight: bold;
}
  
form input[type="text"],
form input[type="email"] {
    width: 100%;
    padding: 0.5rem;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box;
    font-size: 1.2rem;
}
  
form input[type="submit"] {
    background-color: #333;
    color: #fff;
    border: none;
    cursor: pointer;
    padding: 0.5rem 1rem;
    font-size: 1.2rem;
    font-weight: bold;
    border-radius: 5px;
    transition: background-color 0.3s ease;
}
  
form input[type="submit"]:hover {
    background-color: #444;
}
  
.container {
    width: 80%;
    margin: 0 auto;
    margin-top: 2rem;
}
  
.row {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
  
#card-container {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
  
@media (max-width: 768px) {
    form {
      width: 100%;
    }
}

.radio-container {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
}

.radio-container label {
    margin-right: 5px;
}

.radio-container input[type="radio"] {
    margin-right: 20px;
}
