body {
    font-family: Arial, sans-serif;
    background-color: #121212;
    color: #f0f0f0;
    margin: 0;
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    text-align: center;
}

.container {
    text-align: center;
}

h1 {
    color: #ff6f61;
    margin-bottom: 40px;
    font-size: 2.5em;
}

.button-container {
    display: flex;
    flex-direction: column;
    gap: 20px;
    align-items: center;
}

.admin-button {
    background-color: #ff6f61;
    color: #121212;
    padding: 15px 30px;
    text-decoration: none;
    font-size: 1.5em;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
    transition: background-color 0.3s, transform 0.3s;
}

.admin-button:hover {
    background-color: #ffa07a;
    transform: translateY(-5px);
}
