@font-face {
    font-family: 'MADE Mirage';
    src: url('../ASSET/MADEMirage-Bold.woff2') format('woff2'),
        url('../ASSET/MADEMirage-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

body {
    margin: 0;
    font-family: 'MADE Mirage';
    height: auto;
    align-items: center;
    background-color: #292a2e;
}

section {
    align-items: center;
    text-align: center;
    border-radius: 15px;
    background-color: #555962;
    color: white;
    margin-right: auto;
    margin-left: auto;
}