body {
    background-color: #26272c;
    color: #ffffff;
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    text-align: center;
  }
  
  .container {
    max-width: 600px;
    padding: 20px;
    border-radius: 10px;
    background-color: #383b42;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  }
  
  h1 {
    font-size: 4em;
    color: #ff6f61;
  }
  
  p {
    font-size: 1.5em;
    color: #ffffff;
  }
  
  a {
    display: inline-block;
    margin-top: 20px;
    padding: 10px 20px;
    font-size: 1em;
    color: #ffffff;
    background-color: #ff6f61;
    text-decoration: none;
    border-radius: 5px;
  }
  
  a:hover {
    background-color: #ff4e42;
  }
  
  img {
    width: 20%;
    border-radius: 20em;
    margin-top: 20px;
  }
  